body {
	display: grid;
	justify-items: center;
}

h1 {
	font-size: 35px;
	font-weight: 400;
	text-align: center;
}

.output {
	margin-bottom: 35px;
	display: grid;
	justify-content: center;
} 

.input {
	margin-bottom: 7px;
}